# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Database dumps or temp files
# *.sql
*.sqlite
*.bak

# Compiled output
dist/
build/
