openapi: '3.1.1'
info:
  title: Music API
  version: '1.0.0'
  description: |
    RESTful API to manage albums, songs, singers, instruments, and more.

servers:
  - url: https://zany-pancake-5prqvp5q4437x5w-3001.app.github.dev/api
    description: GitHub Codespace live server

paths:
  /albums:
    get:
      summary: Get all albums
      responses:
        '200':
          description: List of albums
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    album_id:
                      type: integer
                    album_name:
                      type: string
                    production_year:
                      type: integer
                    production_country:
                      type: string
                    sales_manager_id:
                      type: integer
    post:
      summary: Create a new album
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                album_name:
                  type: string
                production_year:
                  type: integer
                production_country:
                  type: string
                sales_manager_id:
                  type: integer
      responses:
        '201':
          description: Album created

  /songs:
    get:
      summary: Get all songs
      responses:
        '200':
          description: List of songs
    post:
      summary: Create a new song
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                song_name:
                  type: string
                album_id:
                  type: integer
                duration:
                  type: integer
      responses:
        '201':
          description: Song created

  /singers:
    get:
      summary: Get all singers
      responses:
        '200':
          description: List of singers
    post:
      summary: Create a new singer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                singer_name:
                  type: string
                country:
                  type: string
                birth_year:
                  type: integer
      responses:
        '201':
          description: Singer created

  /song-singers:
    get:
      summary: Get all song-singer relationships
      responses:
        '200':
          description: List of song-singer relationships
    post:
      summary: Link a song with a singer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                song_id:
                  type: integer
                singer_id:
                  type: integer
      responses:
        '201':
          description: Link created

  /sales-managers:
    get:
      summary: Get all sales managers
      responses:
        '200':
          description: List of sales managers

  /instruments:
    get:
      summary: Get all instruments
      responses:
        '200':
          description: List of instruments

  /instrumentalists:
    get:
      summary: Get all instrumentalists
      responses:
        '200':
          description: List of instrumentalists
